{% extends 'adminlte/login.html' %}
{% load static %}

{% block title %}Đặt lại mật khẩu{% endblock %}

{% block body_class %}login-page{% endblock body_class %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block logo_text %}
<b>OVNC</b> Inventory
{% endblock %}

{% block login_box_title %}
Đặt lại mật khẩu
{% endblock %}

{% block login_box_msg %}
Nhập mật khẩu mới của bạn
{% endblock %}

{% block login_form %}
<form method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
        {{ form.new_password1 }}
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
    </div>
    <small class="text-muted mb-3 d-block">
        Mật khẩu cần có ít nhất 6 ký tự.
    </small>
    <div class="input-group mb-3">
        {{ form.new_password2 }}
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Đặt lại mật khẩu</button>
        </div>
    </div>
</form>
{% endblock %}