{% extends 'adminlte/login.html' %}
{% load static %}

{% block title %}Mật khẩu đã đặt lại{% endblock %}

{% block body_class %}login-page{% endblock body_class %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block logo_text %}
<b>GA</b> Inventory
{% endblock %}

{% block login_box_title %}
Mật khẩu đã đặt lại
{% endblock %}

{% block login_box_msg %}
Mật khẩu của bạn đã được đặt lại thành công.
{% endblock %}

{% block login_form %}
<div class="row">
    <div class="col-12">
        <a href="{% url 'login' %}" class="btn btn-primary btn-block">Đăng nhập</a>
    </div>
</div>
{% endblock %}