{% extends 'adminlte/login.html' %}
{% load static %}

{% block title %}Email đã gửi{% endblock %}

{% block body_class %}login-page{% endblock body_class %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block logo_text %}
<b>GA</b> Inventory
{% endblock %}

{% block login_box_title %}
Email đã gửi
{% endblock %}

{% block login_box_msg %}
Chúng tôi đã gửi hướng dẫn khôi phục mật khẩu đến email của bạn. Vui lòng kiểm tra hộp thư.
{% endblock %}

{% block login_form %}
<div class="row">
    <div class="col-12">
        <a href="{% url 'login' %}" class="btn btn-primary btn-block">Quay lại đăng nhập</a>
    </div>
</div>
{% endblock %}