{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css">
{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                {% if user.profile_image %}
                                <img class="profile-user-img img-fluid img-circle" 
                                     src="{{ user.profile_image.url }}" 
                                     alt="User profile picture">
                                {% else %}
                                <img class="profile-user-img img-fluid img-circle" 
                                     src="{% static 'adminlte/img/user2-160x160.jpg' %}" 
                                     alt="User profile picture">
                                {% endif %}
                            </div>

                            <h3 class="profile-username text-center">{{ user.get_full_name|default:user.username }}</h3>

                            <p class="text-muted text-center">{{ user.get_role_display }}</p>

                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Username</b> <a class="float-right">{{ user.username }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Email</b> <a class="float-right">{{ user.email }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Phòng ban</b> <a class="float-right">{{ user.department|default:"Chưa cập nhật" }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Số điện thoại</b> <a class="float-right">{{ user.phone|default:"Chưa cập nhật" }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Người quản lý</b> <a class="float-right">{{ user.manager_name|default:"Chưa cập nhật" }}</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Email người quản lý</b> <a class="float-right">{{ user.manager_email|default:"Chưa cập nhật" }}</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">Cập nhật thông tin</a></li>
                                <li class="nav-item"><a class="nav-link" href="#password" data-toggle="tab">Đổi mật khẩu</a></li>
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="settings">
                                    <form class="form-horizontal" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden" name="form_type" value="profile">
                                        {{ form|crispy }}
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-primary">Cập nhật</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.tab-pane -->
                                
                                <div class="tab-pane" id="password">
                                    <form class="form-horizontal" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="form_type" value="password">
                                        {{ password_form|crispy }}
                                        <div class="form-group row">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-danger">Đổi mật khẩu</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        // Khởi tạo Select2 cho dropdown người quản lý
        $('#id_manager').select2({
            theme: 'bootstrap4',
            placeholder: 'Chọn người quản lý',
            allowClear: true,
            width: '100%'
        });
    });
</script>
{% endblock %}