{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">{{ title }}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'main_dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'employee_list' %}">Danh sách nhân viên</a></li>
                    <li class="breadcrumb-item active">{{ title }}</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">{{ title }}</h3>
            </div>
            <form method="post" novalidate>
                {% csrf_token %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            {{ form.employee_id|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.department|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.position|as_crispy_field }}
                        </div>
                    </div>
                    
                    <hr>
                    <h5>Thông tin cá nhân</h5>
                    <div class="row">
                        <div class="col-md-4">
                            {{ form.date_of_birth|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.gender|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.id_card|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.phone_number|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.email|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.address|as_crispy_field }}
                        </div>
                    </div>
                    
                    <hr>
                    <h5>Thông tin công việc</h5>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.join_date|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-check">
                                    {{ form.status }}
                                    <label class="form-check-label" for="{{ form.status.id_for_label }}">
                                        Đang làm việc
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> Lưu
                    </button>
                    <a href="{% url 'employee_list' %}" class="btn btn-secondary">
                        <i class="fas fa-times"></i> Hủy
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_scripts %}
<script>
    $(document).ready(function () {
        // Xử lý thông báo tự động ẩn
        setTimeout(function() {
            $('.alert').fadeOut('slow');
        }, 5000);
        
        // Khởi tạo Select2 cho dropdown department
        $('.select2').select2({
            theme: 'bootstrap4',
            placeholder: "Chọn bộ phận",
            allowClear: true
        });
    });
</script>
{% endblock %}